[Unit]
Description=AutoVideoSrt Web Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/autovideosrt
Environment="PATH=/opt/autovideosrt/venv/bin:/usr/bin:/usr/local/bin:/bin"
ExecStart=/opt/autovideosrt/venv/bin/gunicorn -w 1 --threads 8 --worker-class gthread --bind 0.0.0.0:80 --timeout 300 main:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
