[Unit]
Description=Run AutoVideoSrt Shopify ID Dianxiaomi sync every day

[Timer]
OnCalendar=*-*-* 12:11:00
Persistent=true
Unit=autovideosrt-shopifyid-sync.service

[Install]
WantedBy=timers.target

